.container{
    .meetingDetails {
        
        padding: 30px;
        .date-time {
            display: flex;
            .date {
                padding: 10px;
                background-color: lightgreen;
                border: 1px solid rgb(16, 231, 16);
                border-radius: 3px;
                i {
                    margin-right: 10px;
                }
            }
            .time {
                margin-left: 10px;
                padding: 10px;
                background-color: lightyellow; 
                border: 1px solid rgb(218, 218, 53);
                border-radius: 3px;
                i {
                    margin-right: 10px;
                }
            }
        }
        .invited-by {
            p {

            }
        }
        h4 {
            color: blueviolet;
        }
        ul {
            text-decoration: none;
            list-style: none;
            .accepted {
                p{color: green;}
            }
            .pending {
                p{color: yellow;}
            }
            .rejected {
                p{
                    color: red;
                }
            }
        }
    }
}