.Link-meet {
    text-decoration: none;
    color: black;
    .meeting-info-div {
        background-color: white;
        box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.295);
        padding: 30px;
        margin: 20px 0;
        border-radius: 2px;
        .meeting-title {
            font-size: 25px;
        }
        .date-time {
            display: flex;
            .date {
                border: 1px solid rgb(178, 119, 237);
                padding: 10px 20px;
                background-color: rgba(238, 214, 251, 0.308);
                border-radius: 2px;
            }
            .time {
                margin-left: 30px;
                border: 1px solid rgb(64, 162, 82);
                padding: 10px 20px;
                background-color: rgba(214, 251, 220, 0.308);
                border-radius: 2px;
            }
        }
        .duration {
            margin-top: 20px;
            color: blue;
            font-size: 16px;
        }
        .member-going {
            display: inline;
            img {
                width: 30px;
                border-radius: 50%;
                border: 2px solid white;
                margin-right: -10px;
            }
            >p {
                display: inline;
                margin-left: 20px;
                margin-top: auto;
            }
        }
        .invited-by {
            float: right;
            img {
                width: 30px;
                border-radius: 50%;
                border: 2px solid white;
            }
            >p {
                display: inline;
                margin-left: 10px;
            }
        }
        .status {
            margin-top: 20px;
            .button1 {
                padding: 5px 50px;
                border: 0;
                border-right: 1px solid black ;
                background-color: white;
                color: red;
            }
            .button2 {
                padding: 5px 50px;
                border: none;
                background-color: white;
                color: blue;
            }
        }
    
    }
}